/* styles reset */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: white;
  letter-spacing: 2%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e2f42;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

ul,
ol {
  list-style-type: none;
  margin: o;
  padding-left: 0;
}

img {
  display: block;
}

/* container */

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.menu-nav {
  display: flex;
  gap: 40px;
}

.menu-nav-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.menu-nav-link:hover {
  color: #404bbf;
  letter-spacing: 0.02em;
}

.contact-info-link {
  color: #434455;
}

.menu-nav-link:focus {
  color: #404bbf;
}

.contact-info-link:hover {
  color: #404bbf;
  letter-spacing: 0.02em;
}

.contact-info-link:focus {
  color: #404bbf;
}

.contact-info ul {
  display: flex;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  gap: 40px;
}

/* title */

.title {
  background-color: #2e2f42;
  height: 600px;
}

.title-heading {
  line-height: 1.7;
  color: white;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.title-button {
  background-color: #4d5ae5;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.title-button:hover {
  background-color: #404bbf;
}

.title-button:focus {
  background-color: #404bbf;
}

/* values */

.values-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.values-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* team */

.team {
  background-color: #f4f4fd;
  font-weight: 500;
}

.team-heading {
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
}

.team-card {
  background-color: #ffffff;
}

.team-name {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
}

.team-role {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* portfolio */

.portfolio-heading {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.portfolio-sub-heading {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */

.footer {
  background-color: #2e2f42;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.footer-logo-studio {
  color: #f4f4fd;
}
